body {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
}

/* Main-body */
#main-body{
    height:100vh;
}
/* sidebar */
#sidebar{
    background: #AC7088;
    width:20vw;
    height:100vh;
    color:#fff;
    position:fixed;
    padding-top:30px;
    overflow: hidden;

}
#sidebar li{
    list-style:none;
    line-height:100px;
    font-size:25px;
    margin-left:30px;
}
#sidebar li a{
    text-decoration:none;
    color:#fff;
}
#sidebar li a:hover{
    color:#F5E8C7;
}
#sidebar li i{
    margin-right:15px;
}
/* Main content */
#main-content{
    background-color: #f2e6eb;
    width:80vw;
    height:100vh;
    margin-left:20vw;
    overflow:hidden;
}
#section{
    width:80vw;
    height:100vh;
}
section{
    height:100vh;
    background:#fff;
    padding:20px 40px;
}
#table{
    padding:50px 50px;
}
.thead{
    background-color: #AC7088;
    color: white;
}
.btn{
    background-color: #DEB6AB;
    color: white;
}
