<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View</title>
    <script src="https://kit.fontawesome.com/10373bed41.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/adminview.css">
</head>

<body>

    <!--    Main body-->
    <div id="main-body">
    <!--        sidebar-->
        <div id="sidebar">
            <li><i class="fa-regular fa-user"></i><a href="#profile-section">Profile</a></li>
            <li><i class="fa-regular fa-file"></i><a href="#table">Evaluation Page</a></li>
            <li><i class="fa-solid fa-chalkboard-user"></i><a href="#new-evaluator">New Evaluator</a></li>
            <li><i class="fa-solid fa-right-from-bracket"></i><a href="#logout-section">Logout</a></li>
        </div>
    <!--        Main-content-->
        <div id="main-content">
            <div id="section">
                <section id="profile-section">shows the logined student detail from database</section>

                    <section id="table">
                        <form action="">
                        <table class="table table-hover border">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">Enrollment No</th>
                                    <th scope="col">Project Category</th>
                                    <th scope="col">Allocation to Evaluator</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>GUI</td>
                                    <td><select class="form-select x" aria-label="Default select example">
                                        <option selected>Evalutors</option>
                                        <option value="1">abc</option>
                                        <option value="2">def</option>
                                        <option value="3">ghi</option>
                                    </select></td>
                                    <td>In Progress</td>
                                    <td><button type="button" class="btn">Assign</button></td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                    </section>

                <section id="new-evaluator">Add new Evaluator form</section>
                <section id="logout-section">lorem5</section>
            </div>
        </div>
    </div>


</body>

</html>