<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Synopsis System</title>
    <!-- BootstrapCSS only imp-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- bootstrap css link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Bootstrap imp -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <!-- fontawesome link -->
    <script src="https://kit.fontawesome.com/10373bed41.js" crossorigin="anonymous"></script>

    <!-- style.css -->
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
    <!-- header -->
    <header>
        <div class="container-fluid">
            <div class="row header">
                <div class="col title">
                    <p>XYZ OPEN UNIVERSITY</p>
                    <p id="title-name">ONLINE  SYNOPSIS  SUBMISSION  SYSTEM</p>
                </div>
            </div>
        </div>
    </header>

    <!-- student login form -->
   <section class="login-section">
        <div class="login-form">
            <div id="student-login">Student Login</div>

            <div id="form-section">
                <form method="POST" action="{{ url_for('student') }}" novalidate>
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                        {{ form.course.label }}
                        {{ form.course(class="form-select") }}
                        {% if form.course.errors %}
                        <ul>
                        {% for error in form.course.errors %}
                            <li class="error-msg">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {{ form.enrol_id.label }}
                        {{ form.enrol_id(class="form-control") }}
                        {% if form.enrol_id.errors %}
                        <ul>
                        {% for error in form.enrol_id.errors %}
                            <li class="error-msg">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {{ form.dob.label }}
                        {{ form.dob(class="form-control") }}
                        {% if form.dob.errors %}
                        <ul>
                        {% for error in form.dob.errors %}
                            <li class="error-msg">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <li class="error-msg">{{ msg }}</li>
                            {% endfor%}
                        {% endif %}
                    {% endwith%}
                    <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
                </form>
            </div>
        </div>
   </section> 

   <!-- footer -->
   <footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">XYZ OPEN UNIVERSITY</div>
            <div class="col-5">&COPY; COPYRIGHT {{year}} || Developed by Fathima Nasmin</div>
        </div>
    </div>

   </footer>

</body>
</html>