<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/10373bed41.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/studentloginstyle.css">
</head>
<body>
    <header>
    <div class="header-style">
        <div class="row">
            <div class="col-6 header">
                <i class="fa-solid fa-user"></i>
                <span>Username</span>
            </div>
            <div class="col-6">
            <button id="logout">Logout</button>
            </div>
        </div>
    </div>
    </header>

    <section class="main-body">
        <label for="" class="enrol">ENROLLMENT NO : </label><br>
        <label for="" class="enrol">COURSE :</label>
        <div id="synopsis-form">
            <div id="heading" >
                <label id="synopsis-heading">SYNOPSIS SUBMISSION FORM</label>
            </div>
            
            <form action="" id="form">
                <div>
                    <label  class="x" for="">Project Category</label>
                    <span><select class="form-select x" aria-label="Default select example">
                        <option selected>Select menu</option>
                        <option value="1">Networking</option>
                        <option value="2">GUI</option>
                        <option value="3">Web Development</option>
                    </select></span>
                    <label class="x" for="">Title of Project</label>
                    <input type="" class="form-control x" id="">
                    <label class="x" for="">Guide's Name</label>
                    <input type="" class="form-control x" id="">
                    <label class="x" for="">Guide's Qualification</label>
                    <input type="" class="form-control x" id="">
                    <label class="x" for="">Year of Work Experience</label>
                    <input type="" class="form-control x" id="">
                    <label class="x" for="">Design & Analysis Design Document</label>
                    <button type="" class="btn upload-btn x">Upload</button><br>

                    <button type="submit" class="btn submit-btn x">Submit</button>

                </div>
            </form>
        </div>
    </section>
</body>
</html>